<div class="container-cryptocurrencies-coins-bitcoin container">
    <div class="top-links-section">
        <a href="/" class="crypto-link">Cryptocurrencies</a>
        <span class="material-icons">chevron_right</span>
        <a href="/coins/" class="coins-link">Coins</a>
        <span class="material-icons">chevron_right</span>
        <span font-size="2,3" class="finally-span">Bitcoin</span>
    </div>
    <div class="container-inner">
        <coin-market-name-section
            class="nameSection"
        ></coin-market-name-section>
        <coin-market-price-section
            class="_price-section"
        ></coin-market-price-section>
        <coin-market-buy-add-button-section
            class="_button-section"
        ></coin-market-buy-add-button-section>
        <coin-market-link-section
            class="_link-section"
        ></coin-market-link-section>
        <coin-market-stats-section
            class="_stats-section"
        ></coin-market-stats-section>
    </div>
</div>
