.link-section {
  //grid-area: linkSection;
  //background-color: var(--background-color);
  padding-right: 24px;
  padding-top: 8px;

  .container-first,
  .container-second {
    border-bottom: none;
    margin-top: 0px;
    padding-bottom: 8px;
    display: block;
  }

  .container-first {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        .button-link {
          text-decoration: none;
          background-color: var(--control-dropdown-background-color);
          color: var(--color-primary-black);
          border: none;
          outline: none;
          border-radius: 8px;
          padding: 5px 8px;
          margin: 0 4px 4px 0;
          font-size: 11px;
          font-weight: 600;
          line-height: 18px;
          display: flex;
          align-items: center;
        }

        .button-name {
          margin: 0 6px;
        }

        &:hover {
          .button-link {
            background-color: var(--color-light-neutral-5);
            cursor: pointer;
            color: var(--color-primary-white);
          }
        }
      }
    }
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .container-second {
    .heading {
      color: var(--color-light-neutral-6);
      font-size: 11px;
      line-height: 18px;
      margin-bottom: 4px;
      font-weight: 500;
    }

    .link-content {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li a {
        text-decoration: none;
      }

      .tag-badge {
        border-left: none;
        margin-left: 0;
        margin-right: 4px;
        background-color: var(--color-light-neutral-7);
        color: var(--color-light-neutral-6);
        //border-left: 3px solid var(--bg-color);
        border-radius: 40px;
        padding: 2px 8px;
        font-size: 11px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 4px;
      }

      .view-all {
        display: initial;
        color: var(--color-primary-blue);
        cursor: pointer;
        font-size: 11px;
        font-weight: 500;
        line-height: 18px;
        background-color: #f0f6ff;
      }
    }
  }
}

.external-link-icon {
  color: var(--color-light-neutral-5);
  height: 16px;
}

@media (min-width: 768px) {
  .link-section {
    padding-right: 24px;
    //order: 3;
    //flex: 0 0 50%;
  }
}

@media (min-width: 1376px) {
  .linksSection {
    order: 4;
    flex: 0 0 36%;
  }
}
