.link-section {
  //grid-area: linkSection;
  //background-color: var(--background-color);
  padding-right: 24px;
  padding-top: 8px;

  .container-first,
  .container-second {
    border-bottom: none;
    margin-top: 0px;
    padding-bottom: 8px;
    display: block;
  }

  .container-first {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      .link-tippy {
        position: relative;
        &:hover {
          .tippy-box {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      li {
        //position: relative;
        .button-link {
          text-decoration: none;
          background-color: var(--control-dropdown-background-color);
          color: var(--color-primary-black);
          border: none;
          outline: none;
          border-radius: 8px;
          padding: 5px 8px;
          margin: 0 4px 4px 0;
          font-size: 11px;
          font-weight: 600;
          line-height: 18px;
          display: flex;
          align-items: center;
        }

        .button-name {
          margin: 0 6px;
        }

        &:hover {
          .button-link {
            background-color: var(--color-light-neutral-5);
            cursor: pointer;
            color: var(--color-primary-white);
            .external-link-icon {
              color: var(--color-primary-white);
            }
          }
        }
      }
    }
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .container-second {
    .heading {
      color: var(--color-light-neutral-6);
      font-size: 11px;
      line-height: 18px;
      margin-bottom: 4px;
      font-weight: 500;
    }

    .link-content {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li a {
        text-decoration: none;
      }

      .tag-badge {
        border-left: none;
        margin-left: 0;
        margin-right: 4px;
        background-color: var(--color-light-neutral-7);
        color: var(--color-light-neutral-6);
        //border-left: 3px solid var(--bg-color);
        border-radius: 40px;
        padding: 2px 8px;
        font-size: 11px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 4px;
      }

      .view-all {
        display: initial;
        color: var(--color-primary-blue);
        cursor: pointer;
        font-size: 11px;
        font-weight: 500;
        line-height: 18px;
        background-color: #f0f6ff;
      }
    }
  }
}

.external-link-icon {
  color: var(--color-light-neutral-5);
  height: 16px;
}
/*
[data-tippy-root] {
  max-width: calc(100vw - 10px);
  pointer-events: auto !important;
}*/

.tippy-box {
  //background-color: var(--control-background-color);
  //color: var(--text-color);
  //position: relative;
  position: absolute;
  background-color: #fff; //var(--control-background-color);
  color: #000; //var(--text-color);
  border-radius: 8px;
  box-shadow: var(--shadow-normal);
  font-size: 12px; //14px
  line-height: 1.4;
  //font-weight: 700;
  outline: 0;
  transition-property: transform, visibility, opacity;
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
  transition: 250ms all;

  .tippy-content {
    //position: relative;
    padding: 8px 9px; //5px 9px
    z-index: 1;

    ul {
      //top: 5px;
      //left: 0px;
      position: absolute;
      display: flex;
      flex-direction: column;
      li {
        :hover {
          //display: block;
          background-color: var(--color-light-neutral-1);
          color: var(--color-primary-black);
        }
        //margin-bottom: 8px;
        a {
          display: flex;
          flex-direction: row;

          //color: var(--color-primary-black);
          border-radius: 8px;
          //display: block;
          margin-bottom: 4px;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          padding: 7px;
          align-items: center;

          .external-link-icon {
            padding-left: 5px;
          }
        }
      }
    }
  }
  /* .tippy-arrow {
    color: #fff; //var(--control-background-color);
    bottom: 0;
    width: 16px;
    height: 16px;
    //color: yellow; //var(--color-tippy-arrow);
  } */
}

.tippy-community {
  height: 80px;
  width: 140px;
  left: -10px;
  //transform: translateY(80px);
}

.tippy-explorers {
  //background-color: rgb(163, 223, 61);
  height: 190px;
  width: 230px;
  left: -60px;
  //transform: translateY(190px);
}
