<div class="coin-statistics__table__row__header">
    <ng-container *ngIf="!date; else titleWithDate">{{ title }}</ng-container>
    <span *ngIf="dayTag" class="badge-gray">24h</span>
    <span *ngIf="tooltip; then tooltipTemplate"></span>
</div>
<div class="coin-statistics__table__row__body">
    <ng-container *ngIf="!isArray(); else values">
        {{
            isString()
                ? value
                : isCurrency
                ? (value | currency: 'USD':'symbol':'1.0-2')
                : (value | number: '1.0-6')
        }}
    </ng-container>

    <ng-container *ngIf="percentage; then comparisonTemplate"></ng-container>
</div>

<ng-template #titleWithDate>
    <div>
        {{ title }}
        <div class="coin-statistics__table__row__header__date">
            {{ date | date }}
        </div>
    </div>
</ng-template>

<ng-template #comparisonTemplate>
    <div class="comparison" [ngClass]="handleComparisonClass()">
        <mat-icon>{{ comparison.icon }}</mat-icon>
        {{ comparison.percentage }}%
    </div>
</ng-template>

<ng-template #values>
    <ng-container *ngFor="let v of value; index as i">
        {{ v | currency: 'USD':'symbol':'1.0-2' }}
        {{ i === 0 ? '/' : '' }}
    </ng-container>
</ng-template>

<ng-template #tooltipTemplate>
    <mat-icon [matTooltip]="tooltip">help</mat-icon>
</ng-template>
