.coin-statistics__table__row__header {
    color: var(--color-light-neutral-6);
    text-align: left;
    display: flex;
    align-items: center;

    .badge-gray {
        margin-left: 0.5rem;
    }

    .mat-icon.mat-tooltip-trigger {
        margin-left: 0.4rem;
    }

    &__date {
        font-size: 85%;
        font-weight: bolder;
    }
}

.coin-statistics__table__row__body {
    font-weight: bold;
    margin: 0;
    text-align: right;

    .comparison {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &.comparison--small {
            font-size: 1.1rem;
        }

        &.comparison--up {
            color: var(--up-color);
        }

        &.comparison--down {
            color: var(--down-color);
        }
    }
}
