p {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

.elements-above-table {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
        margin: 0rem;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: var(--theme-color);
    }

    .pair-select {
        box-sizing: border-box;
        margin: 0rem;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;

        .pair-text {
            line-height: 1.5;
            margin: 0rem 0.8rem 0rem 0rem;
            color: var(--text-color-sub);
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
}
table {
    margin: auto;
    font-size: 1.4rem;
    width: 100%;
    box-shadow: none !important;
    background: var(--theme-background) !important;

    th {
        color: var(--theme-color);
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
    }
    tr:hover {
        background-color: var(--table-row-hover-background-color);
    }

    .mat-cell {
        color: var(--theme-color);
    }
}

.market-icon-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.market-icon {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 1.2rem;
    margin-right: 0.5rem;
}

.market-name {
    margin: 0rem 0rem 0rem 0.5rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.table-pairs {
    color: var(--link-color) !important;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.icon-liquidity {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
}
.icon-liquidity-info {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.9rem;
    margin-left: 0.3rem;
}

.icon-info {
    box-sizing: border-box;
    padding: 1.2rem;
    font-weight: 600;
    font-size: 1.2rem;
    width: 30rem;
    text-align: left;

    .icon-info-header {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;

        p {
            line-height: 1.5;
            margin: 0px;
            color: rgb(34, 37, 49);
            font-size: 1.2rem;
            font-weight: bold;
        }

        a {
            font-size: 1.2rem;
            color: var(--link-color);
        }
    }

    p {
        line-height: 1.5;
        margin: 0.8rem 0rem 0rem;
        color: var(--color-gray);
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
}
