p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container {
    width: 100%;
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .elements-above-table {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;

        h2 {
            margin: 0px;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: rgb(34, 37, 49);
        }

        .pair-select {
            box-sizing: border-box;
            margin: 0px;
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;

            .pair-text {
                line-height: 1.5;
                margin: 0px 8px 0px 0px;
                color: var(--color-gray);
                font-weight: 500;
                font-size: 12px;
            }

            mat-select {
                box-sizing: border-box;
                margin: 0px;
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                background: rgb(239, 242, 245);
                border-radius: 8px;
                outline: 0px;
                font-weight: 900;
                cursor: pointer;
                color: var(--color-primary-black);
                padding: 5px 8px;
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
    table {
        margin: auto;
        font-size: 14px;
        width: 100%;
        box-shadow: none !important;

        th {
            color: var(--color-primary-black);
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
        }
    }
}

.market-icon-name {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.market-icon {
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.market-name {
    margin: 0px 0px 0px 5px;
    line-height: 24px;
    font-weight: bold;
}

.table-pairs {
    color: var(--link-color);
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.icon-liquidity {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
}
.icon-liquidity-info {
    height: 15px;
    width: 15x;
    border-radius: 9px;
    margin-left: 3px;
}

.icon-info {
    box-sizing: border-box;
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    width: 300px;
    text-align: left;

    .icon-info-header {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;

        p {
            line-height: 1.5;
            margin: 0px;
            color: rgb(34, 37, 49);
            font-size: 12px;
            font-weight: bold;
        }

        a {
            font-size: 12;
            color: var(--link-color);
        }
    }

    p {
        line-height: 1.5;
        margin: 8px 0px 0px;
        color: var(--color-gray);
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 34px;
    }
}
