#gainers-losers {
    display: flex;
    flex-direction: column;

    .ag-theme-material {
        font-family: inherit;
    }
    .rank-gray {
        color: var(--text-color-sub);
    }

    h1 {
        font-size: 2.4rem;
        line-height: 3.4rem;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
    }
    p {
        line-height: 1.5;
        margin: 0px;
        color: var(--text-color-sub);
        font-size: 14px;
    }

    .tables {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .table {
            flex-basis: 100%;
            margin-top: 3rem;
            h2 {
                display: block;
                font-size: 1.8rem;
                margin-block-end: 1rem;
                margin-inline-start: 0rem;
                margin-inline-end: 0rem;
                font-weight: 700;
            }

            @media (min-width: 1200px) {
                flex-basis: 48%;
            }
        }
    }

    ag-grid-angular {
        .ag-row {
            width: 100%;
        }

        .ag-pinned-left-header {
            border: none;
        }

        .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
            border: none;
        }

        .ag-row-hover {
            background: var(--theme-background) !important;
        }

        .ag-root-wrapper {
            border: none;
        }

        .ag-header {
            .ag-header-cell-text {
                font-weight: bolder;
                color: var(--theme-color);
            }
        }

        .ag-header,
        .ag-row {
            border-color: var(--border-color);
            background: var(--theme-background) !important;
            color: var(--theme-color);

            &:hover {
                background-color: var(--theme-section-background) !important;
            }
        }

        .ag-theme-material {
            background: var(--theme-background) !important;
        }
        .ag-root-wrapper {
            background: var(--theme-background) !important;
        }

        .ag-header-cell:hover {
            background: none;
        }

        .ag-header-icon {
            color: var(--theme-color);
        }
    }
}
