<section id="gainers-losers" class="home-gainers-losers-table container">
    <ag-grid-angular
        class="ag-theme-material"
        [rowData]="gainers$ | async"
        [columnDefs]="columnDefs"
        domLayout="autoHeight"
        [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
    <ag-grid-angular
        class="ag-theme-material"
        [rowData]="losers$ | async"
        [columnDefs]="columnDefs"
        domLayout="autoHeight"
        [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
</section>
