<section id="gainers-losers" class="home-gainers-losers-table container">
    <h1>Top Crypto Gainers And Losers Today</h1>
    <div class="tables">
        <div class="table">
            <h2>Top Gainers</h2>
            <ag-grid-angular
                class="ag-theme-material"
                [rowData]="gainers$ | async"
                [columnDefs]="columnDefs"
                domLayout="autoHeight"
                [gridOptions]="gridOptions"
            >
            </ag-grid-angular>
        </div>
        <div class="table">
            <h2>Top Losers</h2>
            <ag-grid-angular
                class="ag-theme-material"
                [rowData]="losers$ | async"
                [columnDefs]="columnDefs"
                domLayout="autoHeight"
                [gridOptions]="gridOptions"
            >
            </ag-grid-angular>
        </div>
    </div>
</section>
