<section id="gainers-losers" class="home-gainers-losers-table container">
    <h1>Top Crypto Gainers And Losers Today</h1>
    <p>
        Which crypto coins and tokens with volume (24h) > US$50,000 have gained
        or lost the most in the last 24 hours?
    </p>
    <div class="tables">
        <div class="table">
            <h2>Top Gainers</h2>
            <ag-grid-angular
                class="ag-theme-material"
                [rowData]="gainers$ | async"
                [columnDefs]="columnDefs"
                domLayout="autoHeight"
                [gridOptions]="gridOptions"
            >
            </ag-grid-angular>
        </div>
        <div class="table">
            <h2>Top Losers</h2>
            <ag-grid-angular
                class="ag-theme-material"
                [rowData]="losers$ | async"
                [columnDefs]="columnDefs"
                domLayout="autoHeight"
                [gridOptions]="gridOptions"
            >
            </ag-grid-angular>
        </div>
    </div>
</section>
