<div class="buy-add-button-section">
  <div class="container-button">
    <div class="button-section">

      <button mat-button [matMenuTriggerFor]="menuBuy">
        Buy
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="14px" width="14px" viewBox="0 0 24 24"
          class="my-svg">
          <path
            d="M18.0566 8H5.94336C5.10459 8 4.68455 9.02183 5.27763 9.61943L11.3343 15.7222C11.7019 16.0926 12.2981 16.0926 12.6657 15.7222L18.7223 9.61943C19.3155 9.02183 18.8954 8 18.0566 8Z">
          </path>
        </svg>
      </button>
      <mat-menu #menuBuy="matMenu">
        <div style="pointer-events: none; z-index: 9999;">
          <div class="tippy-box" tabindex="-1" style="max-width: 350px; transition-duration: 300ms;">
            <div class="tippy-content" style="transition-duration: 300ms;">
              <div>
                <div class="dropdown-container">
                  <div display="flex" class="dropdown-inner"><img
                      src="https://s2.coinmarketcap.com/static/cloud/img/binance_32x32_1.png"
                      class="undefined lazy-load loaded" height="16" width="16">
                    <p color="text" font-size="1" class="dropdown-p">BINANCE</p>
                  </div>
                  <img src="https://s2.coinmarketcap.com/static/cloud/img/binance_buy_480x176.png"
                    class="big-img lazy-load loaded" width="100%">
                  <h4 font-size="14px" font-weight="600" color="text" class="dropdown-h">Buy Crypto with Fees as
                    Low
                    as 0%</h4>
                  <p class="dropdown-desc">Buy crypto with a bank transfer, credit or debit card, P2P exchange,
                    and
                    more. Not investment advice. All trading carries risk. Terms apply.</p>
                  <a href="https://binance1.shortcm.li/cmcbuy" target="_blank" rel="nofollow sponsored noopener"
                    class="dropdown-a"
                    style="color: var(--color-primary-white); padding-top: 8px; padding-bottom: 8px; height: auto; min-height: 40px;">
                    Fees as Low as 0%<div class="div-svg">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="16px" width="16px" viewBox="0 0 24 24"
                        class="dropdown-svg">
                        <path
                          d="M12 11.9998L20 4M20 4H14.1817M20 4L19.9999 9.81802M9.81819 6.90946H5.77777C4.79594 6.90946 4 7.70537 4 8.68718V18.2223C4 19.2041 4.79594 20 5.77778 20H15.3131C16.295 20 17.0909 19.2041 17.0909 18.2223V14.182"
                          stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuExchange">
        Exchange
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="14px" width="14px" viewBox="0 0 24 24"
          class="my-svg">
          <path
            d="M18.0566 8H5.94336C5.10459 8 4.68455 9.02183 5.27763 9.61943L11.3343 15.7222C11.7019 16.0926 12.2981 16.0926 12.6657 15.7222L18.7223 9.61943C19.3155 9.02183 18.8954 8 18.0566 8Z">
          </path>
        </svg>
      </button>
      <mat-menu #menuExchange="matMenu">
        <div style="pointer-events: none; z-index: 9999;">
          <div class="tippy-box" tabindex="-1" style="max-width: 350px; transition-duration: 300ms;">
            <div class="tippy-content" style="transition-duration: 300ms;">
              <div>
                <div class="dropdown-container">
                  <div display="flex" class="dropdown-inner"><img
                      src="https://s2.coinmarketcap.com/static/cloud/img/binance_32x32_1.png"
                      class="undefined lazy-load loaded" height="16" width="16">
                    <p color="text" font-size="1" class="dropdown-p">BINANCE</p>
                  </div><img src="https://s2.coinmarketcap.com/static/cloud/img/binance_exchange_480x176.png"
                    class="big-img lazy-load loaded" width="100%">
                  <h4 font-size="14px" font-weight="600" color="text" class="dropdown-h">Lowest Trading Fees on
                    300+
                    Cryptocurrencies.</h4>
                  <p class="dropdown-desc">Binance offers the lowest trading fees for 99% of users compared to
                    leading global exchanges. Not investment advice. Trading carries risk. Terms apply</p>
                  <a href="https://binance1.shortcm.li/cmcex" target="_blank" rel="nofollow sponsored noopener"
                    class="dropdown-a"
                    style="color: var(--color-primary-white); padding-top: 8px; padding-bottom: 8px; height: auto; min-height: 40px;">Lowest
                    Trading Fees <div class="div-svg"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="16px"
                        width="16px" viewBox="0 0 24 24" class="dropdown-svg">
                        <path
                          d="M12 11.9998L20 4M20 4H14.1817M20 4L19.9999 9.81802M9.81819 6.90946H5.77777C4.79594 6.90946 4 7.70537 4 8.68718V18.2223C4 19.2041 4.79594 20 5.77778 20H15.3131C16.295 20 17.0909 19.2041 17.0909 18.2223V14.182"
                          stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuGaming">
        Gaming
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="14px" width="14px" viewBox="0 0 24 24"
          class="my-svg">
          <path
            d="M18.0566 8H5.94336C5.10459 8 4.68455 9.02183 5.27763 9.61943L11.3343 15.7222C11.7019 16.0926 12.2981 16.0926 12.6657 15.7222L18.7223 9.61943C19.3155 9.02183 18.8954 8 18.0566 8Z">
          </path>
        </svg>
      </button>
      <mat-menu #menuGaming="matMenu">
        <div style="pointer-events: none; z-index: 9999;">
          <div class=" tippy-box" tabindex="-1" style="max-width: 350px; transition-duration: 300ms;">
            <div class="tippy-content" style="transition-duration: 300ms;">
              <div>
                <div class="dropdown-container">
                  <div display="flex" class="dropdown-inner"><img
                      src="https://s2.coinmarketcap.com/static/cloud/img/1xbit_32x32_1.png"
                      class="undefined lazy-load loaded" height="16" width="16">
                    <p color="text" font-size="1" class="dropdown-p">1xBIT</p>
                  </div>
                  <img src="https://s2.coinmarketcap.com/static/cloud/img/1xbit_480x176.png"
                    class="big-img lazy-load loaded" width="100%">
                  <h4 font-size="14px" font-weight="600" color="text" class="dropdown-h">Crypto Sportsbook &amp;
                    Online Casino</h4>
                  <p class="dropdown-desc">Don’t lose a chance to dive into 3000+ games, the highest ODDs for
                    sports
                    and eSports with full anonymity
                  </p>
                  <a href="https://mooony.xyz/click.php?kpp=cmkbutton" target="_blank" rel="nofollow sponsored noopener"
                    class="dropdown-a"
                    style="color: var(--color-primary-white); padding-top: 8px; padding-bottom: 8px; height: auto; min-height: 40px;">Get
                    your 7 BTC here
                    <div class="div-svg">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="16px" width="16px" viewBox="0 0 24 24"
                        class="dropdown-svg">
                        <path
                          d="M12 11.9998L20 4M20 4H14.1817M20 4L19.9999 9.81802M9.81819 6.90946H5.77777C4.79594 6.90946 4 7.70537 4 8.68718V18.2223C4 19.2041 4.79594 20 5.77778 20H15.3131C16.295 20 17.0909 19.2041 17.0909 18.2223V14.182"
                          stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuEarn">
        Earn Crypto
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="14px" width="14px" viewBox="0 0 24 24"
          class="my-svg">
          <path
            d="M18.0566 8H5.94336C5.10459 8 4.68455 9.02183 5.27763 9.61943L11.3343 15.7222C11.7019 16.0926 12.2981 16.0926 12.6657 15.7222L18.7223 9.61943C19.3155 9.02183 18.8954 8 18.0566 8Z">
          </path>
        </svg>
      </button>
      <mat-menu #menuEarn="matMenu">
        <div style="pointer-events: none; z-index: 9999;">
          <div class="tippy-box" tabindex="-1" style="max-width: 350px; transition-duration: 300ms;">
            <div class="tippy-content" style="transition-duration: 300ms;">
              <div>
                <div class="dropdown-container">
                  <div display="flex" class="dropdown-inner"><img
                      src="https://s2.coinmarketcap.com/static/cloud/img/cexio_32x32_1.png"
                      class="undefined lazy-load loaded" height="16" width="16">
                    <p color="text" font-size="1" class="dropdown-p">CEX.IO</p>
                  </div><img src="https://s2.coinmarketcap.com/static/cloud/img/cexio_new_480x176.png"
                    class="big-img lazy-load loaded" width="100%">
                  <h4 font-size="14px" font-weight="600" color="text" class="dropdown-h">25% Staking reward for
                    ZIL
                  </h4>
                  <p class="dropdown-desc"><span>Get a 25% annual staking reward on your ZIL holdings with<a
                        target="_blank" href="https://cexio.page.link/coinmarketcap"> CEX.IO. </a>Till the end of March
                      only. Reap your increased staking rewards before the offer ends.</span></p><a
                    href="https://cexio.page.link/coinmarketcap" target="_blank" rel="nofollow sponsored noopener"
                    class="dropdown-a"
                    style="color: var(--color-primary-white); padding-top: 8px; padding-bottom: 8px; height: auto; min-height: 40px;">Earn
                    25% with ZIL Staking <div class="sc-AxjAm cITTod"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" height="16px" width="16px" viewBox="0 0 24 24" class="div-svg">
                        <path
                          d="M12 11.9998L20 4M20 4H14.1817M20 4L19.9999 9.81802M9.81819 6.90946H5.77777C4.79594 6.90946 4 7.70537 4 8.68718V18.2223C4 19.2041 4.79594 20 5.77778 20H15.3131C16.295 20 17.0909 19.2041 17.0909 18.2223V14.182"
                          stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>

    <div class="sponsored-mark">
      <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
        <path
          d="M11.304 7.768c-.23.144-.501.161-.707.047-.262-.146-.406-.486-.406-.96V5.435c0-.685-.274-1.172-.734-1.304-.779-.223-1.365.716-1.585 1.068L6.5 7.394V4.713c-.016-.617-.22-.986-.605-1.098-.256-.073-.638-.044-1.01.516L1.807 9A5.285 5.285 0 0 1 1.181 6.5 5.324 5.324 0 0 1 6.5 1.182 5.324 5.324 0 0 1 11.816 6.5l.001.014v.015c.027.568-.16 1.02-.513 1.24zM12.997 6.5V6.471A6.507 6.507 0 0 0 6.498 0 6.507 6.507 0 0 0 0 6.5C0 10.084 2.915 13 6.499 13a6.477 6.477 0 0 0 4.418-1.733.59.59 0 1 0-.803-.867 5.298 5.298 0 0 1-3.615 1.418 5.304 5.304 0 0 1-3.957-1.77l2.775-4.39v2.024c0 .972.383 1.286.704 1.378.321.092.812.03 1.327-.795l1.526-2.438c.05-.079.094-.147.136-.205v1.232c0 .91.37 1.636 1.013 1.994.58.323 1.31.294 1.905-.076.721-.449 1.11-1.275 1.07-2.272z"
          fill="#7e899f" fill-rule="evenodd"></path>
      </svg>
      <div class="sponsored-text-area">Sponsored</div>
    </div>
  </div>
</div>