.buy-add-button-section {
    margin: 0rem;

    .container-button {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;

        @media (max-width: 1300px) {
            flex-direction: column-reverse;
        }

        .button-section {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-bottom: 0.6rem !important;

            button {
                background-color: var(--color-primary-blue);
                display: inline-flex;
                align-items: center;
                border: none;
                border-radius: 8px;
                color: #fff;
                padding: 0.5rem 0.8rem;
                margin: 0 0.4rem 0.4rem 0;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 2.2rem;
                cursor: pointer;
                outline: none;
            }
        }
        .sponsored-mark {
            margin-bottom: 0.8rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .sponsored-text-area {
                color: var(--color-light-neutral-5);
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 1.8rem;
            }
        }
    }
}

.my-svg {
    margin: 0px 0px 0px 0.4rem;
    height: 1.4rem;
    width: 1.4rem;
}

body {
    --table-background-color: #fff;
    --table-divider-color: #eff2f5;
    --table-row-hover-background-color: #f8fafd;
}

.tippy-box {
    position: relative;
    background-color: var(--color-tippy-arrow);
    box-shadow: var(--shadow-normal);
    color: var(--color-text-1);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 1.4;
    outline: 0;
    transition-property: transform, visibility, opacity;
}

.tippy-box {
    background-color: var(--control-background-color);
    color: var(--text-color);
}

.tippy-content {
    position: relative;
    padding: 0.5rem 0.9rem;
    z-index: 1;
}

.dropdown-container {
    border-radius: 8px;
    padding: 1.1rem 0.5rem;
    max-width: 254px;
}

.dropdown-inner {
    box-sizing: border-box;
    margin: 0px 0px 1.6rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dropdown-p {
    line-height: 1.5;
    margin: 0px 0px 0px 0.4rem;
    color: rgb(34, 37, 49);
    font-size: 14px;
}

.big-img {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.dropdown-h {
    margin: 0px 0px 0.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 21px;
    color: rgb(34, 37, 49);
}

.dropdown-desc {
    color: var(--color-light-neutral-6);
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
}

.dropdown-a {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(56, 97, 251);
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0px 2.4rem;
    line-height: 2.4rem;
}

.div-svg {
    box-sizing: border-box;
    margin: 0px 0px 0px 0.4rem;
}

.dropdown-svg {
    box-sizing: border-box;
    margin: 0px;
    height: 1.6rem;
    width: 1.6rem;
}

@media (max-width: 576px) {
    img.lazy-load.loaded {
        opacity: 1;
        visibility: visible;
    }
}

img.lazy-load.loaded {
    opacity: 1;
}

@media (max-width: 576px) {
    img.lazy-load {
        opacity: 1;
        transition: none;
        visibility: hidden;
    }
}

img.lazy-load {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
