.price-section {
  //grid-area: priceSection;
  //background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 0px;
  @media (min-width: 768px) and (max-width: 1200px) {
    text-align: right;
  }

  .price-heading {
    color: var(--text-color-sub);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    //text-align: right;

    small {
      color: var(--color-light-neutral-5);
      font-weight: inherit;
      font-size: inherit;
    }
  }

  .price-title {
    @media (min-width: 768px) and (max-width: 1200px) {
      justify-content: flex-end;
    }
    margin: 0px;
    display: flex;
    //justify-content: flex-end;
    align-items: center;

    .price-value {
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
      margin-right: 16px;
    }
  }

  .alternate-prices {
    margin-top: 6px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    p {
      margin: 0;
      margin-top: 4px;
      line-height: 1;
      font-size: 14px;
      color: var(--color-light-neutral-5);

      span {
        margin-right: 4px;
        margin-left: 12px;
      }
    }
  }

  .slider-section {
    margin: 14px 0 8px 0;
    display: flex;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1200px) {
      justify-content: flex-end;
    }

    .nowrap-low,
    .nowrap-high {
      margin: 0px 16px 0px 0px;
      white-space: nowrap;

      .high-low-label {
        color: var(--color-light-neutral-6);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }

      .high-low-value {
        color: var(--color-primary-black);
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
      }
    }

    .slider-pill {
      margin: 0px;
      width: 100%;
      max-width: 170px;

      .slider-full {
        height: 6px;
        display: inline-block;
        position: relative;
        background-color: var(--control-dropdown-background-color);
        border-radius: 4px;
        line-height: 5;

        span {
          display: inherit;
          background-color: var(--theme-light-color);
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
          color: var(--theme-light-color);
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          transition: width 3s ease-in-out 0s;

          svg {
            position: absolute;
            top: -1px;
            right: -8px;
            width: 16px;
            //color: var(--theme-light-color);
            margin: 0px;
          }
        }
      }
    }

    .nowrap-high {
      margin: 0px 0px 0px 16px;
    }
  }
}

.name-pill-base {
  margin: 0px 0px 0px 8px;
  cursor: pointer;

  background-color: var(--color-light-neutral-2);
  color: var(--color-light-neutral-6);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.my-svg {
  margin: 0px 0px 0px 4px;
  height: 14px;
  width: 14px;
}

.tippy-box[data-theme~="cmc"] {
  background-color: var(--control-background-color);
  color: var(--text-color);
}

.tippy-box {
  border-radius: 8px;
  top: 12px;
  left: -90px;
}

.tippy-box {
  position: relative;
  background-color: var(--color-tippy-arrow);
  box-shadow: var(--shadow-normal);
  color: var(--color-text-1);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
  /*
  ul {
    li {
      &:hover {
        background-color: pink;
      }
    }
  } */
}

.sliderList___37MQ0 li {
  cursor: pointer;
  padding: 10px 10px 10px 8px;
  font-weight: 600;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: var(--color-tippy-arrow);
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
