<div class="coin-chart">
  <h3>Bitcoin Chart</h3>

  <div class="coin-chart__options">
    <ul class="vertical-gray-list">
      <li
        class="vertical-gray-list__item"
        [class.vertical-gray-list__item--selected]="selected === 'Price'"
        (click)="selected = 'Price'"
      >
        Price
      </li>
      <li
        class="vertical-gray-list__item"
        [class.vertical-gray-list__item--selected]="selected === 'MarketCap'"
        (click)="selected = 'MarketCap'"
      >
        Market Cap
      </li>
    </ul>
    <chart-range-selector [Chart]="Chart"></chart-range-selector>
  </div>
  <div *ngIf="(chartData$ | async) as chartData">
    <coin-market-line-chart 
      *ngIf="chartData.usd && chartData.usd.length>0" 
      constructorType="stockChart" 
      [chartData]="chartData"
      [callback]="chartCallback">
    </coin-market-line-chart>

  </div>
  <coin-chart-legend [legend]="legend" [Chart]="Chart"></coin-chart-legend>
</div>
