<div class="coin-chart">
    <div class="coin-chart__header">
        <h3>Bitcoin Chart</h3>
        <chart-fullscreen-button [chart]="chart"></chart-fullscreen-button>
        <chart-exports-button [chart]="chart"></chart-exports-button>
    </div>

    <div class="coin-chart__options">
        <ul class="vertical-gray-list">
            <li
                class="vertical-gray-list__item"
                [class.vertical-gray-list__item--selected]="
                    selected === 'Price'
                "
                (click)="selected = 'Price'"
            >
                Price
            </li>
            <li
                class="vertical-gray-list__item"
                [class.vertical-gray-list__item--selected]="
                    selected === 'MarketCap'
                "
                (click)="selected = 'MarketCap'"
            >
                Market Cap
            </li>
        </ul>
        <chart-range-selector [chart]="chart"></chart-range-selector>
    </div>
    <coin-market-line-chart
        constructorType="stockChart"
        [series]="series"
        (chartInstanceEvent)="getChartInstance($event)"
    >
    </coin-market-line-chart>
    <coin-chart-legend [legend]="legend" [chart]="chart"></coin-chart-legend>
</div>
