<div class="historical-data container">
    <div class="historical-data__header">
        <h2>Historical Data for Bitcoin</h2>
        <button
            class="historical-data__header__datepicker"
            [matMenuTriggerFor]="dateRange"
        >
            <mat-icon>calendar_today</mat-icon> Date Range
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>

    <mat-menu #dateRange>
        <ui-calendar
            (dateRangeEvent)="filterByDate($event)"
            (closeMenuEvent)="menu.closeMenu()"
            [selectedRange]="dateRange$ | async"
        ></ui-calendar>
    </mat-menu>

    <ng-container *ngIf="historicalData$ | async as hd">
        <div class="historical-data__results" *ngIf="dateRange$ | async as dr">
            Showing {{ hd.length }} results, between {{ dr.start | date }} ~
            {{ dr.end | date }}
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="hd" class="mat-elevation-z8">
                <ng-container matColumnDef="date_time" sticky>
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date_time | date: 'mediumDate' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="opening">
                    <th mat-header-cell *matHeaderCellDef>Open*</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.opening.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="highest">
                    <th mat-header-cell *matHeaderCellDef>High</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.highest.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="lowest">
                    <th mat-header-cell *matHeaderCellDef>Low</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.lowest.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="closing">
                    <th mat-header-cell *matHeaderCellDef>Close**</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.closing.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="volume">
                    <th mat-header-cell *matHeaderCellDef>Volume</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.volume.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="marketCap">
                    <th mat-header-cell *matHeaderCellDef>Market Cap</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element.marketCap.value
                                | currency: 'USD':'symbol':'1.0-2'
                        }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>

        <button class="large-gray-button" (click)="loadMore()">
            Load More
        </button>
    </ng-container>
    <p>* Earliest data in range (UTC time)</p>
    <p>** Latest data in range (UTC time)</p>
</div>
