.historical-data {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    &__header {
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__datepicker {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: transparent;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            padding: 1.2rem;
            width: 150px;
            color: inherit;

            &:hover {
                background-color: var(--color-light-neutral-1);
            }
        }
    }

    &__results {
        font-size: 85%;
        color: var(--color-light-neutral-6);
    }

    & > p {
        font-size: 105%;
    }
}

.mat-table {
    width: 100%;
    box-shadow: none !important;
    background: var(--theme-background) !important;

    .mat-header-cell,
    .mat-cell {
        background-color: var();
        &:not(:first-child) {
            text-align: right;
        }
    }

    .mat-column-date_time {
        white-space: nowrap;
    }

    .mat-header-cell {
        color: var(--theme-color);
        font-weight: bold;
    }

    .mat-cell {
        color: var(--theme-color);
    }
}
