body {
  text-size-adjust: 100%;
  font-size: 15px;
}

.container-cryptocurrencies-coins-bitcoin {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  background-image: linear-gradient(to top, var(--color-primary-white), var(--color-light-neutral-1));
  //border-bottom: 1px solid var(--border-color); // rgba(0, 0, 0, 0.12);

  .top-links-section {
    display: flex;

    a {
      color: rgb(88, 102, 126);
      padding-right: 5px;
      position: relative;
      white-space: nowrap;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;

      &:hover {
        text-decoration: underline;
      }
    }

    .material-icons {
      font-size: 18px;
      line-height: 100%;
      color: rgb(88, 102, 126);
      padding-right: 8px;
      top: 2px;
    }

    .finally-span {
      flex: 1 1 0%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--color-primary-black);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin: 0px;
    }
  }

  .container-inner {
    display: flex;
    flex-wrap: wrap;
    /*
    .nameSection,
    ._link-section {
      flex: 0 0 36%;
    }

    ._price-section {
      flex: 0 0 37%;
    }

    ._stats-section {
      //order: 5;
      flex: 0 0 64%;
    }

    ._button-section {
      flex: 0 0 27%;
    } */
    /*.nameSection {
      min-width: 500px;
    } */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "nameSection priceSection buyAddButtonSection"
      "linkSection statsSection statsSection ";

    .nameSection {
      grid-area: nameSection;
    }

    ._price-section {
      grid-area: priceSection;
    }

    ._button-section {
      grid-area: buyAddButtonSection;
    }

    ._link-section {
      grid-area: linkSection;
    }

    ._stats-section {
      grid-area: statsSection;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-inner {
    /*
    grid-template-columns: 1fr;
    //grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "nameSection"
      "priceSection"
      "buyAddButtonSection"
      "linkSection"
      "statsSection";
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    .nameSection {
      grid-area: nameSection !important;
    }

    ._price-section {
      grid-area: priceSection !important;
    }

    ._button-section {
      grid-area: buyAddButtonSection !important;
    }

    ._link-section {
      grid-area: linkSection !important;
    }

    ._stats-section {
      grid-area: statsSection !important;
    } */
  }
}

@media (min-width: 768px) {
  .container-inner {
    display: flex;
    //flex-wrap: wrap;
  }
}

@media (min-width: 1100px) {
  .container-inner {
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  .top-links-section {
    padding-left: 60px;
  }
}

/*
@media only screen and (min-width: 1100px) {
  .nameSection,
  ._link-section {
    // flex: 0 0 36% !important;
  }
}


@media (min-width: 1376px) {
  .nameSection,
  ._link-section {
    flex: 0 0 36% !important;
  }
} 

@media (min-width: 768px) {
  .nameSection,
  ._link-section {
    flex: 0 0 50% !important;
  }
}

@media (min-width: 1100px) and (max-width: 1460px) {
  ._price-section {
    flex: 0 0 37% !important;
  }
}

@media (min-width: 1376px) {
  ._price-section {
    margin-top: 14px;
    flex: 0 0 34% !important;
  }
}

@media (max-width: 768px) {
  ._price-section {
    flex: 0 0 50% !important;
  }
}

@media (min-width: 1376px) {
  ._stats-section {
    //order: 5;
    flex: 0 0 64% !important;
  }
}

@media (max-width: 768px) {
  ._stats-section {
    //order: 5;
    flex: 0 0 100% !important;
    margin-bottom: 16px;
  }
}

@media (min-width: 1376px) and (max-width: 1460px) {
  ._button-section {
    flex: 0 0 27% !important;
  }
}

@media (min-width: 1376px) {
  ._button-section {
    //order: 3;
    flex: 0 0 30% !important;
  }
}

@media (min-width: 768px) {
  ._button-section {
    //order: 4;
    flex: 0 0 50% !important;
  }
}

@media screen and (min-width: 768px) {
  ._link-section {
    padding-right: 24px;
  }
}

@media (min-width: 1376px) {
  ._link-section {
    //order: 4;
  }
}

@media (min-width: 768px) {
  ._link-section {
    //order: 3;
  }
}

@media (min-width: 768px) {
  .nameSection,
  ._link-section {
    flex: 0 0 50% !important;
  }
}

*/
