body {
  text-size-adjust: 100%;
  font-size: 15px;
  //line-height: 1.5;
}

.container-cryptocurrencies-coins-bitcoin {
  width: 100%;
  //max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  //background-color: var(--background-color);
  background-image: linear-gradient(to top, #fefeff, #f8fafd);
  .container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "nameSection priceSection buyAddButtonSection"
      "linkSection statsSection statsSection ";

    ._name-section {
      grid-area: nameSection;
    }

    ._price-section {
      grid-area: priceSection;
    }

    ._button-section {
      grid-area: buyAddButtonSection;
    }

    ._link-section {
      grid-area: linkSection;
    }

    ._stats-section {
      grid-area: statsSection;
    }
  }
}

@media (min-width: 768px) {
  .container-inner {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1400px) {
  .container-inner {
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
