$background: #f9fbfe;

body {
  text-size-adjust: 100%;
  font-size: 15px;
  //line-height: 1.5em;
}

.container-mhtp {
  width: 100%;
  max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;

  .container-inner {
    .sc-BTC {
      display: grid;
      grid-template-areas:
        "nameSection priceSection buyAddButtonSection"
        "linkSection statsSection statsSection ";

      .nameSection {
        grid-area: nameSection;
        background-color: $background;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        flex: 0 0 50%;
        //align-items: center;
        //margin: 0px;

        .nameHeader {
          display: flex;
          margin: 0px 0px 16px;
          justify-content: flex-start;
          align-items: center;
          word-break: break-word;

          img {
            margin-right: 12px;
          }

          h2 {
            font-size: 32px;
            line-height: 42px;
            margin-right: 8px;
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            font-weight: 700;
            color: rgb(34, 37, 49);

            small {
              word-break: initial;
              background-color: #eff2f5;
              color: #58667e;
              border-radius: 4px;
              padding: 2px 6px;
              font-size: 12px;
              font-weight: 600;
              line-height: 18px;
              margin-left: 12px;
              margin-right: 6px;
            }
          }

          .header-span .header-button {
            width: auto;
            padding: 0px 8px;
            border-radius: 8px;
            -webkit-box-align: center;
            align-items: center;
            background: transparent;
            border: 1px solid rgb(207, 214, 228);
            border-radius: 8px;
            display: inline-flex;
            color: rgb(0, 0, 0);
            cursor: pointer;
            -webkit-box-pack: center;
            justify-content: center;
            outline: 0px;
            font-weight: 600;
            width: auto;
            height: 32px;
            font-size: 12px;
            padding: 0px 16px;
            line-height: 18px;

            .icon-star {
              font-size: 16px;
              line-height: 100%;
            }
          }
        }

        .namePill-box {
          display: flex;

          .namePill__3p {
            margin-right: 8px;
            background-color: #eff2f5;
            color: #58667e;
            border-radius: 4px;
            padding: 2px 6px;
            font-size: 11px;
            font-weight: 500;
            line-height: 18px;
            white-space: nowrap;
          }

          .namePill-rank {
            background-color: #808a9d;
            color: #fff;
          }
        }
      }

      .priceSection {
        grid-area: priceSection;
        background-color: $background;
        margin: 0px;

        .priceHeading {
          color: #58667e;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          margin-bottom: 4px;
          //text-align: right;

          small {
            color: #808a9d;
            font-weight: inherit;
            font-size: inherit;
          }
        }

        .priceTitle {
          margin: 0px;
          display: flex;
          //justify-content: flex-end;
          align-items: center;

          .priceValue {
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            margin-right: 16px;
          }
          /*
      .priceSpan .icon{
        margin-right: 4px;
        font-size: 0.6em;
        display: inline-block;
        font-family: 'CMC V2';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        //-moz-osx-font-smoothing: grayscale;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
      } */
        }

        .alternatePrices {
          margin-top: 6px;
          margin-bottom: 14px;
          display: flex;
          flex-direction: column;
          //align-items: flex-end;
          p {
            margin: 0;
            margin-top: 4px;
            line-height: 1;
            font-size: 14px;
            color: #808a9d;

            span {
              margin-right: 4px;
              margin-left: 12px;
            }
          }
        }

        .sliderSection {
          margin: 14px 0 8px 0;
          display: flex;
          align-items: center;

          .nowrap-low,
          .nowrap-high {
            margin: 0px 16px 0px 0px;
            white-space: nowrap;

            .highLowLabel {
              color: #58667e;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
            }

            .highLowValue {
              color: #000;
              font-size: 12px;
              font-weight: 600;
              line-height: 22px;
            }
          }

          .sliderPill {
            margin: 0px;
            width: 100%;
            max-width: 170px;

            .sliderFull {
              height: 6px;
              display: inline-block;
              position: relative;
              background: #eff2f5;
              border-radius: 4px;
              line-height: 5;

              span {
                display: inherit;
                background-color: #cfd6e4;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
                color: #cfd6e4;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                transition: width 3s ease-in-out 0s;

                svg {
                  position: absolute;
                  top: -1px;
                  right: -8px;
                  width: 16px;
                  color: #cfd6e4;
                  margin: 0px;
                }
              }
            }
          }

          .nowrap-high {
            margin: 0px 0px 0px 16px;
          }
        }
      }

      .buyAddButtonSection {
        grid-area: buyAddButtonSection;
        background-color: $background;
        margin: 0px;

        .container-button {
          display: flex;
          //flex-direction: column-reverse;
          flex-direction: column;
          padding-top: 16px;
          padding-bottom: 16px;

          .buttonSection {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-bottom: 6px !important;

            button {
              background-color: #3459e7;
              display: inline-flex;
              align-items: center;
              border: none;
              border-radius: 8px;
              color: #fff;
              padding: 5px 8px;
              margin: 0 4px 4px 0;
              font-size: 12px;
              font-weight: 600;
              line-height: 22px;
              cursor: pointer;
              outline: none;
            }
          }
          .sponsoredMark {
            margin-bottom: 8px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .sponsoredText {
              color: #808a9d;
              font-size: 11px;
              font-weight: 600;
              line-height: 18px;
            }
          }
        }
      }

      .linkSection {
        grid-area: linkSection;
        background-color: $background;
        padding-right: 24px;

        .container-first,
        .container-second {
          border-bottom: none;
          margin-top: 0px;
          padding-bottom: 8px;
          display: block;
        }

        .container-first {
          ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
              .button-link {
                text-decoration: none;
                background-color: #eff2f5;
                color: #000;
                border: none;
                outline: none;
                border-radius: 8px;
                padding: 5px 8px;
                margin: 0 4px 4px 0;
                font-size: 11px;
                font-weight: 600;
                line-height: 18px;
                display: flex;
                align-items: center;
              }

              .buttonName {
                margin: 0 6px;
              }

              &:hover {
                .button-link {
                  background-color: #808a9d;
                  cursor: pointer;
                  color: #fff;
                }
              }
            }
          }
        }

        div {
          display: flex;
          justify-content: space-between;
        }

        .container-second {
          .heading {
            color: #58667e;
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 4px;
            font-weight: 500;
          }

          .linkContent {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li a {
              text-decoration: none;
            }

            .tagBadge {
              border-left: none;
              margin-left: 0;
              margin-right: 4px;
              background-color: #eff2f5;
              color: #58667e;
              //border-left: 3px solid var(--bg-color);
              border-radius: 40px;
              padding: 2px 8px;
              font-size: 11px;
              font-weight: 600;
              line-height: 18px;
              margin-bottom: 4px;
            }

            .viewAll {
              display: initial;
              color: #3861fb;
              cursor: pointer;
              font-size: 11px;
              font-weight: 500;
              line-height: 18px;
              background-color: #f0f6ff;
            }
          }
        }
      }

      .statsSection {
        grid-area: statsSection;
        background-color: $background;
        margin-bottom: 16px;

        .statsContainer {
          margin-top: 24px;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          border-top: 1px solid #eff2f5;
          padding-top: 24px;
          padding-bottom: 4px;

          .statsBlock {
            grid-column: span 3;
            border-bottom: 1px solid #eff2f5;
            display: flex;
            flex-direction: column;

            .statsBlockInner {
              .statsLabel {
                height: 23px;
                margin: 0px 0px 4px;
                display: flex;
                align-items: center;
                color: #58667e;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
              }

              .statsItemBelow {
                align-items: center;

                .statsValue {
                  color: #000;
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 18px;
                  margin-right: 8px;
                  margin-bottom: 4px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
              }
            }
            .statsBlockInner:nth-child(2) {
              margin-top: 28px;
            }
          }

          .statsSupplyBlock {
            grid-column: span 3;
            //display: flex;
            //flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 100%;

            .statsLabel {
              margin: 0px 0px 4px;
              display: flex;
              align-items: center;
              color: #58667e;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
            }

            .statsSecond {
              margin: 0px;
              display: flex;
              -webkit-box-pack: justify;
              justify-content: space-between;
              -webkit-box-align: baseline;
              align-items: baseline;

              .statsValue {
                color: #000;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                margin-right: 8px;
                margin-bottom: 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .statsBlockPercentage {
                color: #58667e;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
              }
            }

            .statsThird {
              margin: 0px 0px 4px;
              flex: 0 0 100%;

              .span-first {
                height: 6px;
                display: inline-block;
                position: relative;
                background: #eff2f5;
                border-radius: 4px;
                line-height: 5;

                span {
                  display: inherit;
                  background-color: #cfd6e4;
                  height: 100%;
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  border-top-left-radius: inherit;
                  border-bottom-left-radius: inherit;
                  color: #cfd6e4;
                  border-top-right-radius: 0px;
                  border-bottom-right-radius: 0px;
                  transition: width 3s ease-in-out 0s;
                }
              }
            }

            .max-supply,
            .total-supply {
              display: flex;
              justify-content: space-between;

              .supplyValue {
                color: #000;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.mySvg {
  margin: 0px 0px 0px 4px;
  height: 14px;
  width: 14px;
}

.myCapSvg {
  color: rgb(166, 176, 195);
}

.capSvg {
  margin-left: 3px;
  vertical-align: middle;
  line-height: 0;
}

.namePillBase {
  margin: 0px 0px 0px 8px;
  cursor: pointer;

  background-color: #eff2f5;
  color: #58667e;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.externalLinkIcon {
  color: #808a9d;
  height: 16px;
}

@media (min-width: 768px) {
  .statsBlock:first-of-type {
    padding-left: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1376px) {
  .statsBlock {
    grid-column: span 3;
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  .statsBlock {
    grid-column: span 4;
    border-bottom: none;
    border-right: 1px solid #eff2f5;
    padding-left: 24px;
    padding-top: 8px;
  }
}

@media (min-width: 768px) {
  .statsItemBelow {
    display: block;
  }
}

@media (min-width: 1000px) {
  .statsSupplyBlock {
    grid-column: span 3;
    padding-left: 24px;
  }
}

@media (min-width: 768px) {
  .statsSupplyBlock {
    grid-column: span 12;
    display: block;
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .linkSection {
    padding-right: 24px;
    order: 3;
    flex: 0 0 50%;
  }
}
