.home-gainers-losers-table {
    table {
        margin: auto;
        font-size: 1.4rem;
        width: 100%;
        box-shadow: none !important;

        th {
            color: var(--color-primary-black);
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
        }
    }

    .arrow {
        display: flex;
        flex-direction: row;
        .down {
            color: red;
            font-weight: bold;
        }
        .up {
            color: green;
            font-weight: bold;
        }
    }

    tr:hover {
        background-color: #f8fafd;
    }

    h1 {
        font-size: 2.4rem;
        line-height: 3.4rem;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
    }

    .dots {
        font-size: 2.4rem;
        line-height: 2.4rem;
        font-weight: normal;
    }

    .mat-button-focus-overlay {
        opacity: 0 !important;
    }

    .rows {
        box-sizing: border-box;
        margin: 0rem;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        float: right;

        .row-text {
            line-height: 1.5;
            margin: 0rem 0.6rem 0rem 0rem;
            color: rgb(88, 102, 126);
            font-size: 1.2rem;
        }

        .mat-select {
            box-sizing: border-box;
            width: auto !important;
            margin: 0rem;
            display: inline-flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            background: rgb(239, 242, 245);
            border-radius: 8px;
            outline: 0px;
            font-weight: 600;
            cursor: pointer;
            color: rgb(0, 0, 0);
            padding: 0.5rem 0.8rem;
            font-size: 1.2rem;
            line-height: 2.2rem;
        }
    }
}
