<div class="container">
    <h1>Today's Cryptocurrency Prices by Market Cap</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="coin_rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td
                style="color: rgb(88, 102, 126)"
                mat-cell
                *matCellDef="let coin"
            >
                {{ coin.coin_rank }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td style="font-weight: bold" mat-cell *matCellDef="let coin">
                <div class="coin-icon-name-id">
                    <img class="coin-icon" [src]="coin.coin_icon" />
                    <a
                        class="coin-name"
                        [routerLink]="'/currencies/' + coin.name"
                        >{{ coin.name }}</a
                    >
                    <p class="coin-id">{{ coin.coin_id }}</p>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td style="font-weight: bold" mat-cell *matCellDef="let coin">
                {{ coin.price | currency: 'USD':'$':'0.2-2' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="trend_24h">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>24h %</th>
            <td mat-cell *matCellDef="let coin">
                <div class="arrow" *ngIf="coin.trend_24h < 0">
                    <mat-icon class="down">arrow_drop_down</mat-icon>
                    <p class="down">{{ coin.trend_24h | minus }}%</p>
                </div>
                <div class="arrow" *ngIf="coin.trend_24h > 0">
                    <mat-icon class="up">arrow_drop_up</mat-icon>
                    <p class="up">{{ coin.trend_24h }}%</p>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="trend_7d">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>7d %</th>
            <td mat-cell *matCellDef="let coin">
                <div class="arrow" *ngIf="coin.trend_7d < 0">
                    <mat-icon class="down">arrow_drop_down</mat-icon>
                    <p class="down">{{ coin.trend_7d | minus }}%</p>
                </div>
                <div class="arrow" *ngIf="coin.trend_7d > 0">
                    <mat-icon class="up">arrow_drop_up</mat-icon>
                    <p class="up">{{ coin.trend_7d }}%</p>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="market_cap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Market Cap
            </th>
            <td mat-cell *matCellDef="let coin">
                {{ coin.market_cap | currency: 'USD':'$':'4.0-2' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="circulating_supply">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Circulating Supply
            </th>
            <td mat-cell *matCellDef="let coin">
                {{ coin.circulating_supply | currency: '':'':'4.0-2' }}
                {{ coin.coin_id }}
            </td>
        </ng-container>
        <ng-container matColumnDef="more_vert">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let coin">
                <button mat-button [matMenuTriggerFor]="menu" class="menu">
                    <mat-icon class="dots">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a [routerLink]="'/currencies/' + coin.name"
                        ><button mat-menu-item class="dropdown-item">
                            View Charts
                        </button></a
                    >
                    <a [routerLink]="'/currencies/' + coin.name + '/markets'">
                        <button mat-menu-item class="dropdown-item">
                            View Markets
                        </button></a
                    >
                    <a
                        [routerLink]="
                            '/currencies/' + coin.name + '/historical-data'
                        "
                        ><button mat-menu-item class="dropdown-item">
                            View Histroical Data
                        </button></a
                    >
                </mat-menu>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        #myPaginator
        [length]="dataLength$ | async"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
    >
    </mat-paginator>
</div>
