<div class="home-gainers-losers-table container">
    <div class="elements-above-table">
        <h1>Today's Cryptocurrency Prices by Market Cap</h1>
        <div class="rows">
            <p class="row-text">Show Rows</p>
            <mat-select [(ngModel)]="selectedValue" name="row">
                <mat-option *ngFor="let row of rows" [value]="row.value">
                    {{ row.value }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="table-responsive">
        <table
            #coinListTable
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            matSort
        >
            <ng-container matColumnDef="coin_rank" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td
                    style="color: rgb(88, 102, 126)"
                    mat-cell
                    *matCellDef="let coin"
                >
                    {{ coin.coin_rank }}
                </td>
            </ng-container>

            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td style="font-weight: bold" mat-cell *matCellDef="let coin">
                    <div class="coin-icon-name-id">
                        <img class="coin-icon" [src]="coin.coin_icon" />
                        <a
                            class="coin-name"
                            [routerLink]="'/currencies/' + coin.coin_id"
                            >{{ coin.name }}</a
                        >
                        <p class="coin-id">{{ coin.coin_id }}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td style="font-weight: bold" mat-cell *matCellDef="let coin">
                    <a
                        [routerLink]="
                            '/currencies/' + coin.coin_id + '/markets'
                        "
                        >{{ coin.price | currency: 'USD':'$':'0.2-2' }}</a
                    >
                </td>
            </ng-container>

            <ng-container matColumnDef="trend_24h">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>24h %</th>
                <td mat-cell *matCellDef="let coin">
                    <div class="arrow" *ngIf="coin.trend_24h < 0">
                        <mat-icon class="down">arrow_drop_down</mat-icon>
                        <p class="down">{{ coin.trend_24h | minus }}%</p>
                    </div>
                    <div class="arrow" *ngIf="coin.trend_24h > 0">
                        <mat-icon class="up">arrow_drop_up</mat-icon>
                        <p class="up">{{ coin.trend_24h }}%</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="trend_7d">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>7d %</th>
                <td mat-cell *matCellDef="let coin">
                    <div class="arrow" *ngIf="coin.trend_7d < 0">
                        <mat-icon class="down">arrow_drop_down</mat-icon>
                        <p class="down">{{ coin.trend_7d | minus }}%</p>
                    </div>
                    <div class="arrow" *ngIf="coin.trend_7d > 0">
                        <mat-icon class="up">arrow_drop_up</mat-icon>
                        <p class="up">{{ coin.trend_7d }}%</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="market_cap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Market Cap
                </th>
                <td mat-cell *matCellDef="let coin">
                    {{ coin.market_cap | currency: 'USD':'$':'4.0-2' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="circulating_supply">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Circulating Supply
                </th>
                <td mat-cell *matCellDef="let coin">
                    {{ coin.circulating_supply | currency: '':'':'4.0-2' }}
                    {{ coin.coin_id }}
                </td>
            </ng-container>
            <ng-container matColumnDef="more_vert">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let coin">
                    <button mat-button [matMenuTriggerFor]="menu" class="menu">
                        <mat-icon class="dots">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <a [routerLink]="'/currencies/' + coin.coin_id"
                            ><button mat-menu-item class="dropdown-item">
                                View Charts
                            </button></a
                        >
                        <a
                            [routerLink]="
                                '/currencies/' + coin.coin_id + '/markets'
                            "
                        >
                            <button mat-menu-item class="dropdown-item">
                                View Markets
                            </button></a
                        >
                        <a
                            [routerLink]="
                                '/currencies/' +
                                coin.coin_id +
                                '/historical-data'
                            "
                            ><button mat-menu-item class="dropdown-item">
                                View Historical Data
                            </button></a
                        >
                    </mat-menu>
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <mat-paginator
        #myPaginator
        [length]="dataLength$ | async"
        [pageSize]="20"
        [pageSizeOptions]="[20, 40, 60,]"
    >
    </mat-paginator>
</div>
