.vote-coin {
    background-color: var(--theme-section-background);
    border-radius: 16px;
    padding: 1.8rem 2.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__text {
        margin-right: 1rem;
        &__question {
            font-size: 120%;
        }

        &__briefing {
            color: var(--color-light-neutral-6);
            margin: 0.8rem 0;
        }
    }

    &__button-group {
        &__button {
            padding: 0.8rem 1.6rem;
            background-color: transparent;
            border: none;
            border-radius: 10px;
            font-weight: bolder;
            font-family: inherit;
            border: 1px solid var(--button-border-color);
            cursor: pointer;
            font-size: inherit;
            color: inherit;

            &:first-child {
                margin-right: 0.8rem;
            }

            &:hover {
                background-color: var(--control-background-color);
            }
        }
    }

    &__progress-bar {
        width: 100%;
        position: relative;
        margin: 1rem 0 2rem 0;

        &__count {
            &--good,
            &--bad {
                position: absolute;
                top: 0;
                transform: translateY(80%);
                font-size: 1.2rem;
                color: var(--color-light-neutral-6);
            }

            &--good {
                left: 0;
            }

            &--bad {
                right: 0;
            }
        }
    }
}
