@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Inter, sans-serif',
);

@include mat-core($custom-typography);

.mat-icon {
    width: auto !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 16px;
}

.vote-coin__progress-bar {
    .mat-progress-bar {
        height: 10px;
        border-radius: 5px;

        .mat-progress-bar-primary::after {
            background-color: #16c784;
        }

        .mat-progress-bar-buffer {
            background-color: #ea3943;
        }
    }
}

//Mat-menu

.mat-menu-panel {
    max-width: unset !important;
}

.overview-tabs {
    mat-tab-header {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: var(--border-color);
        padding: 12px 0;
    }

    .mat-tab-label-container {
        max-width: 1400px;
        margin: 0 auto;

        .mat-tab-label {
            opacity: 1;
            padding: 8px 12px;
            margin-left: 6px;
            border-radius: 8px;
            color: #000;
            min-width: unset;
            height: auto;

            &.mat-tab-label-active {
                background-color: var(--color-primary-blue);
                color: #fff !important;

                &:hover {
                    background-color: var(--color-primary-blue);
                }
            }

            &:hover {
                background-color: var(--color-light-neutral-1);
            }
        }

        .mat-tab-label-content {
            color: currentColor;
            font-weight: bolder;
            opacity: 1;
        }
    }

    .mat-ripple-element {
        display: none;
    }

    mat-ink-bar {
        display: none;
    }
}

//Mat Select
.mat-select-value {
    max-width: unset !important;
}

// Mat Option
.mat-option-text {
    font-weight: bold;
}

//Mat Header
.mat-sort-header-content {
    font-weight: bold;
}
