@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Inter, sans-serif',
);

@include mat-core($custom-typography);

.mat-icon {
    width: auto !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.6rem;
}

.vote-coin__progress-bar {
    .mat-progress-bar {
        height: 1rem;
        border-radius: 5px;

        .mat-progress-bar-primary::after {
            background-color: #16c784;
        }

        .mat-progress-bar-buffer {
            background-color: #ea3943;
        }
    }
}

//Mat-menu

.mat-menu-panel {
    max-width: unset !important;
}
.mat-menu-item {
    font-weight: bold !important;
    &:hover {
        background-color: #f8fafd !important;
    }
}

//Mat Select
.mat-select-value {
    max-width: unset !important;
}

// Mat Option
.mat-option-text {
    font-weight: bold;
}

//Mat Header
.mat-sort-header-content {
    font-weight: bold;
}

//Mat Menu
.mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0rem !important;
    font-weight: bold;
}

//Mat Table
.mat-header-cell,
.mat-cell {
    border-color: var(--border-color) !important;
}
