.home-gainers-losers-table {
    .coin-icon-name-id {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        .coin-icon {
            height: 24px;
            width: 24px;
            border-radius: 12px;
        }

        .coin-name {
            margin: 0px 0px 0px 5px;
            line-height: 24px;
            font-weight: bold;
        }
        .coin-id {
            color: rgb(128, 138, 157);
            margin: 0px 0px 0px 6px;
            line-height: 24px;
            font-size: 14px;
        }
    }
}
