:root {
    --background-color: #f9fbfe;
    --border-color: #eff2f5;
    --bg-light-gray: rgb(248, 250, 253);
    --color-gray: rgb(88, 102, 126);
    --color-light-neutral-1: #f8fafd;
    --color-light-neutral-2: #eff2f5;
    --color-light-neutral-3: #eaedf0;
    --color-light-neutral-4: #a6b0c3;
    --color-light-neutral-5: #808a9d;
    --color-light-neutral-6: #58667e;
    --color-light-neutral-7: #eff2f5;
    --button-border-color: #cfd6e4;

    --theme-light-blue-color: #f0f6ff;
    --control-background-color: #fff;
    --control-dropdown-background-color: #eff2f5;
    --theme-light-color: #cfd6e4;
    --text-color-sub: #58667e;
    --color-primary-black: #000;
    --bg-color: #fff;
    --color-primary-white: #fff;
    --color-primary-blue: #3861fb;
    --up-color: #16c784;
    --down-color: #ea3943;
    --color-tippy-arrow: #fff;
    --table-row-hover-background-color: #f8fafd;
    --box-shadow: 0px 1px 2px rgba(128, 138, 157, 0.12),
        0px 8px 32px rgba(128, 138, 157, 0.24);
    --shadow-normal: 0px 1px 2px rgba(128, 138, 157, 0.12),
        0px 8px 32px rgba(128, 138, 157, 0.24);

    --link-color: rgb(56, 97, 251);

    --theme-border-color: #eff2f5;
    --theme-background: #fff;
    --theme-color: #000;
    --theme-section-background: #f8fafd;
    --theme-linear-gradient: linear-gradient(
        rgb(248, 250, 253) 0%,
        rgba(248, 250, 253, 0) 413px
    );

    --logo-src: url(/assets/img/logo/coinmarketcap_large_black.svg);

    --chart-column-color: #cfd6e4;
    --nav-border: #eff2f5;
}
