<section class="trending bg-gray-card">
  <h2>Trending Coins and Tokens 🔥</h2>
  <ul class="trending__list">
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/cloud/img/bnb_logo_64x64.png"
        alt="..."
      />
      <div class="trending__list__item__sponsored">
        <div>
          <p class="trending__list__item__sponsored__title">
            Hold BNB on Binance
          </p>
          <small class="trending__list__item__sponsored__desc"
            >And Get 25% Off Trading Fees.</small
          >
        </div>
        <div class="trending__list__item__sponsored__footer">
          <a href="#">Trade Now</a>

          <small
            ><img src="assets/img/logo/coinmarket.svg" alt="..." />
            Sponsored</small
          >
        </div>
      </div>
    </li>
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/img/coins/64x64/8740.png"
        alt="..."
      />
      <p class="trending__list__item__name--full">SHD CASH</p>
      <p class="trending__list__item__name--shorten">SHDC</p>
      <small class="trending__list__item__rank badge-gray">#2743</small>
    </li>
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/img/coins/64x64/7814.png"
        alt="..."
      />
      <p class="trending__list__item__name--full">Alaya</p>
      <p class="trending__list__item__name--shorten">ATP</p>
      <small class="trending__list__item__rank badge-gray">#2743</small>
    </li>
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/img/coins/64x64/7867.png"
        alt="..."
      />
      <p class="trending__list__item__name--full">Bitcashpay</p>
      <p class="trending__list__item__name--shorten">BCP</p>
      <small class="trending__list__item__rank badge-gray">#2743</small>
    </li>
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/img/coins/64x64/7463.png"
        alt="..."
      />
      <p class="trending__list__item__name--full">RAMP</p>
      <p class="trending__list__item__name--shorten">RAMP</p>
      <small class="trending__list__item__rank badge-gray">#2743</small>
    </li>
    <li class="trending__list__item">
      <img
        class="trending__list__item__logo"
        src="https://s2.coinmarketcap.com/static/img/coins/64x64/1230.png"
        alt="..."
      />
      <p class="trending__list__item__name--full">Steem</p>
      <p class="trending__list__item__name--shorten">STEEM</p>
      <small class="trending__list__item__rank badge-gray">#2743</small>
    </li>
  </ul>
</section>
