.container {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 2.4rem 1.5rem;
}
.coin-market-cap {
    min-width: 16.8rem;
    height: 2.8rem;
    position: relative;
    color: var(--theme-color);
    display: inline-block;
    background-image: var(--logo-src);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-items {
    color: var(--theme-color);
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0rem;
    padding-left: 3rem;

    &:hover {
        color: var(--link-color);
        cursor: pointer;
    }
}

coin-market-switch-theme-btn {
    flex-grow: 1;
    text-align: right;
}
