<section class="coin-statistics">
  <h2>BTC Price Statistics</h2>
  <small>Bitcoin Price Today</small>
  <table>
    <tr>
      <th><strong>Bitcoin Price</strong></th>
      <td>$57,148.19</td>
    </tr>
    <tr>
      <th>Price Change <span class="badge-gray">24h</span></th>
      <td>
        $57,148.19
        <div class="comparison comparison--down">
          <mat-icon>expand_more</mat-icon> 0.09%
        </div>
      </td>
    </tr>
    <tr>
      <th>24h Low / 24h High</th>
      <td>$57,148.19</td>
    </tr>
    <tr>
      <th>Trading Volume <span class="badge-gray">24h</span></th>
      <td>
        $57,148.19
        <div class="comparison comparison--up">
          <mat-icon>expand_less</mat-icon> 15.22%
        </div>
      </td>
    </tr>
    <tr>
      <th>Volume / Market Cap</th>
      <td>$57,148.19</td>
    </tr>
    <tr>
      <th>Market Dominance</th>
      <td>$57,148.19</td>
    </tr>
    <tr>
      <th>Market Rank</th>
      <td>#1</td>
    </tr>
  </table>
  <small>Bitcoin Market Cap</small>
  <table>
    <tr>
      <th>Market Cap</th>
      <td>$1,069,573,575,774.10</td>
    </tr>
    <tr>
      <th>Fully Diluted Market Cap</th>
      <td>$1,203,625,600,217.70</td>
    </tr>
  </table>

  <button mat-button>Show more</button>
</section>
