.currency-tabs {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--border-color);
    padding: 1.2rem 0;

    &__container {
        display: flex;
    }

    &__link {
        font-weight: bold;
        padding: 0.8rem 1.2rem;
        border-radius: 8px;
        color: var(--theme-color);
        min-width: unset;
        height: auto;

        &:not(:first-child) {
            margin-left: 0.6rem;
        }

        &.active {
            background-color: var(--color-primary-blue);
            color: #fff !important;

            &:hover {
                background-color: var(--color-primary-blue);
            }
        }

        &:hover {
            background-color: var(--color-light-neutral-1);
        }
    }
}
