.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    button {
        border: none;
        &:hover {
            background-color: rgb(16, 112, 224);
        }
    }
}
.show-scrollTop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.keyboard-up {
    display: inline-flex !important;
    width: 4rem !important;
    height: 3.4rem !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    background: rgba(23, 24, 27, 0.85) !important;
    color: rgb(255, 255, 255) !important;
    user-select: none !important;
    cursor: pointer !important;
    visibility: visible !important;
    font-weight: bold;
}
