<div class="stats-section" *ngIf="coinStatistics$ | async as coinStatistics">
  <div class="stats-container">
    <div class="stats-block">
      <div class="stats-block-inner">
        <div class="stats-label">
          Market Cap
          <div class="cap-svg" aria-expanded="false">
            <img src="assets/img/myinfo.png" class="my-cap-svg">
          </div>

        </div>
        <div class="stats-item-below">
          <div class="stats-value">
            {{ coinStatistics.marketCapPrice | currency: "USD":"$":"0.0-0" }}
          </div>
          <span style="
              color: #16c784;
              padding: 0;
              border-radius: 8px;
              display: block;
              margin-top: 0;
              font-size: 12px;
              font-weight: 600;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="12px" width="12px" viewBox="0 0 22 16">
              <path
                d="M18.0566 16H5.94336C5.10459 16 4.68455 14.9782 5.27763 14.3806L11.3343 8.27783C11.7019 7.90739 12.2981 7.90739 12.6657 8.27783L18.7223 14.3806C19.3155 14.9782 18.8954 16 18.0566 16Z">
              </path>
            </svg>
            {{ coinStatistics.marketCapPercentage + "%" }}
          </span>
        </div>
      </div>
    </div>
    <div class="stats-block">
      <div class="stats-block-inner">
        <div class="stats-label">
          Fully Diluted Market Cap
          <div class="cap-svg" aria-expanded="false">
            <img src="assets/img/myinfo.png" class="my-cap-svg">
          </div>
        </div>
        <div class="stats-item-below">
          <div class="stats-value">
            {{
            coinStatistics.fullyMarketCapPrice | currency: "USD":"$":"0.0-0"
            }}
          </div>
          <span style="
              color: #16c784;
              padding: 0;
              border-radius: 8px;
              display: block;
              margin-top: 0;
              font-size: 12px;
              font-weight: 600;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="12px" width="12px" viewBox="0 0 22 16">
              <path
                d="M18.0566 16H5.94336C5.10459 16 4.68455 14.9782 5.27763 14.3806L11.3343 8.27783C11.7019 7.90739 12.2981 7.90739 12.6657 8.27783L18.7223 14.3806C19.3155 14.9782 18.8954 16 18.0566 16Z">
              </path>
            </svg>
            {{ coinStatistics.fullyMarketCapPercentage}}%
          </span>
        </div>
      </div>
    </div>
    <div class="stats-block">
      <div class="stats-block-inner">
        <div class="stats-label">
          Volume
          <div class="name-pill-base">24h</div>
          <div class="cap-svg" aria-expanded="false">
            <img src="assets/img/myinfo.png" class="my-cap-svg">
          </div>
        </div>
        <div class="stats-item-below">
          <div class="stats-value">
            {{ coinStatistics.volumePrice | currency: "USD":"$":"0.0-0" }}
          </div>
          <span style="
              color: #16c784;
              padding: 0;
              border-radius: 8px;
              display: block;
              margin-top: 0;
              font-size: 12px;
              font-weight: 600;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="12px" width="12px" viewBox="0 0 22 16">
              <path
                d="M18.0566 16H5.94336C5.10459 16 4.68455 14.9782 5.27763 14.3806L11.3343 8.27783C11.7019 7.90739 12.2981 7.90739 12.6657 8.27783L18.7223 14.3806C19.3155 14.9782 18.8954 16 18.0566 16Z">
              </path>
            </svg>
            {{ coinStatistics.volumePercentage}}%
          </span>
        </div>
      </div>
      <div class="stats-block-inner">
        <div class="stats-label">Volume / Market Cap</div>
        <div class="stats-item-below">
          <div class="stats-value">
            {{ coinStatistics.volumeMarketCapNumber }}
          </div>
        </div>
      </div>
    </div>
    <div class="stats-supply-block">
      <div class="stats-label">
        Circulating Supply
        <div class="cap-svg" aria-expanded="false">
          <img src="assets/img/myinfo.png" class="my-cap-svg">
        </div>
      </div>
      <div display="flex" class="stats-second">
        <div class="stats-value">
          {{ coinStatistics.circulatingSupplyNumber | number: "0.0-0" }}
          {{ coinStatistics.shortName }}
        </div>
        <div class="stats-block-percentage">
          {{ coinStatistics.circulatingSupplyPercentage}}%
        </div>
      </div>
      <div class="stats-third">
        <span style="width: 100%" class="span-first">
          <span style="width: 88.88577142857143%"></span>
        </span>
      </div>
      <div style="margin-top: 32px" class="max-supply">
        <div class="stats-label">
          Max Supply
          <div class="cap-svg" aria-expanded="false">
            <img src="assets/img/myinfo.png" class="my-cap-svg">
          </div>
        </div>
        <div class="supply-value">
          {{ coinStatistics.maxSupplyNumber | number: "0.0-0" }}
        </div>
      </div>
      <div class="total-supply">
        <div class="stats-label">
          Total Supply
          <div class="cap-svg" aria-expanded="false">
            <img src="assets/img/myinfo.png" class="my-cap-svg">
          </div>
        </div>
        <div class="supply-value">
          {{ coinStatistics.totalSupplyNumber | number: "0.0-0" }}
        </div>
      </div>
    </div>
  </div>
</div>