.stats-section {
  //grid-area: statsSection;
  //background-color: var(--background-color);
  margin-bottom: 16px;

  .stats-container {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: 1px solid var(--control-dropdown-background-color);
    padding-top: 24px;
    padding-bottom: 4px;

    .stats-block {
      grid-column: span 3;
      //border-bottom: 1px solid #eff2f5;
      display: flex;
      flex-direction: column;

      .stats-block-inner {
        .stats-label {
          height: 23px;
          margin: 0px 0px 4px;
          display: flex;
          align-items: center;
          color: var(--text-color-sub);
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }

        .stats-item-below {
          align-items: center;

          .stats-value {
            color: var(--color-primary-black);
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            margin-right: 8px;
            margin-bottom: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
      .stats-block-inner:nth-child(2) {
        margin-top: 28px;
      }
    }

    .stats-supply-block {
      grid-column: span 3;
      //display: flex;
      //flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;

      .stats-label {
        margin: 0px 0px 4px;
        display: flex;
        align-items: center;
        color: var(--text-color-sub);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
      }

      .stats-second {
        margin: 0px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;

        .stats-value {
          color: var(--color-primary-black);
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          margin-right: 8px;
          margin-bottom: 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .stats-block-percentage {
          color: var(--text-color-sub);
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
      }

      .stats-third {
        margin: 0px 0px 4px;
        flex: 0 0 100%;

        .span-first {
          height: 6px;
          display: inline-block;
          position: relative;
          background-color: var(--control-dropdown-background-color);
          border-radius: 4px;
          line-height: 5;

          span {
            display: inherit;
            background-color: var(--theme-light-color);
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            color: var(--theme-light-color);
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            transition: width 3s ease-in-out 0s;
          }
        }
      }

      .max-supply,
      .total-supply {
        display: flex;
        justify-content: space-between;

        .supply-value {
          color: var(--color-primary-black);
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
  }
}

.name-pill-base {
  margin: 0px 0px 0px 8px;
  cursor: pointer;

  background-color: var(--control-dropdown-background-color);
  color: var(--text-color-sub);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.my-cap-svg {
  //color: rgb(166, 176, 195);
  height: 14px;
  width: 14px;
}

.cap-svg {
  margin-left: 3px;
  vertical-align: middle;
  line-height: 0;
}

@media (min-width: 768px) {
  .stats-block:first-of-type {
    padding-left: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1376px) {
  .stats-block {
    grid-column: span 3;
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  .stats-block {
    grid-column: span 4;
    border-bottom: none;
    border-right: 1px solid var(--control-dropdown-background-color);
    padding-left: 24px;
    padding-top: 8px;
  }
}

@media (min-width: 768px) {
  .stats-item-below {
    display: block;
  }
}

@media (min-width: 1000px) {
  .stats-supply-block {
    grid-column: span 3;
    padding-left: 24px;
  }
}

@media (min-width: 768px) {
  .stats-supply-block {
    grid-column: span 12;
    display: block;
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 8px;
  }
}
