<section class="trending bg-gray-card">
    <h2>Trending Coins and Tokens 🔥</h2>
    <ul class="trending__list">
        <li>
            <a href="#" class="trending__list__item">
                <img
                    class="trending__list__item__logo"
                    src="https://s2.coinmarketcap.com/static/cloud/img/bnb_logo_64x64.png"
                    alt="..."
                />
                <div class="trending__list__item__sponsored">
                    <div>
                        <p class="trending__list__item__sponsored__title">
                            Hold BNB on Binance
                        </p>
                        <small class="trending__list__item__sponsored__desc"
                            >And Get 25% Off Trading Fees.</small
                        >
                    </div>
                    <div class="trending__list__item__sponsored__footer">
                        <a href="#">Trade Now</a>

                        <small
                            ><img
                                src="assets/img/logo/coinmarket.svg"
                                alt="..."
                            />
                            Sponsored</small
                        >
                    </div>
                </div></a
            >
        </li>
        <li *ngFor="let coin of trendingCoins$ | async">
            <a href="#" class="trending__list__item">
                <img
                    class="trending__list__item__logo"
                    [src]="coin.icon"
                    alt="..."
                />
                <p class="trending__list__item__name--full">
                    {{ coin.coin_name }}
                </p>
                <p class="trending__list__item__name--shorten">
                    {{ coin.coin_id }}
                </p>
                <small class="trending__list__item__rank badge-gray"
                    >#{{ coin.rank }}</small
                ></a
            >
        </li>
    </ul>
</section>
