table {
  width: 95%;
  margin: 2rem auto;
}

#pairs {
  color: blue;
  &:hover {
    cursor: pointer;
  }
}
th {
  color: black;
  font-weight: bold;
}
th.mat-sort-header-sorted {
  color: black;
}
#first {
  margin: 2rem 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 12fr 0.5fr;
  grid-gap: 1.6rem;
}
h1 {
  margin-top: 1.7rem;
  padding-left: 2rem;
  font-weight: bold;
}
.icon {
  height: 20px;
  width: 20px;
  display: block;
  padding-right: 10px;
  padding-left: 5px;
}
#position {
  color: gray;
}
.bold {
  font-weight: bold;
}
.logosource {
  display: flex;
  flex-direction: row;
  &:hover {
    cursor: pointer;
  }
}
.confidence {
  color: white;
  border: 1px solid;
  border-radius: 5px;
}
.info {
  display: flex;
  flex-direction: row;
}
