.coin-statistics {
    background-color: var(--color-light-neutral-1);
    padding: 2.4rem;
    border-radius: 16px;

    &__table {
        width: 100%;

        &__caption {
            margin-top: 2.5rem;
            padding-bottom: 1rem;
            display: block;
            font-size: 1.2rem;
            border-bottom: 1px solid var(--theme-border-color);
            color: var(--color-light-neutral-5);
            text-align: left;
        }

        coin-market-coin-statistic-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.8rem 0;
            &:not(:last-child) {
                border-bottom: 1px solid var(--theme-border-color);
            }
        }
    }
    button {
        width: 100%;
    }
}
