<div class="coin-page container">
    <div class="coin-page__chart">
        <coin-market-coin-chart style="width: 100%"></coin-market-coin-chart>
        <coin-market-info-paragraph></coin-market-info-paragraph>
        <coin-market-vote-coin></coin-market-vote-coin>
    </div>
    <div class="coin-page__sidebar">
        <coin-market-coin-converter></coin-market-coin-converter>
        <coin-market-coin-statistics></coin-market-coin-statistics>
        <coin-market-trending></coin-market-trending>
    </div>
    <div class="coin-page__markets-table">
        <coin-market-table
            [dataSource]="dataSource"
            [showPairs]="false"
            [showPaginator]="false"
        ></coin-market-table>
        <a routerLink="./markets" class="large-gray-button">See All Markets</a>
    </div>
</div>
