<section class="coin-converter">
  <div class="currency">
    <div class="currency__details">
      <figure>
        <img
          src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png"
          alt="..."
        />
      </figure>
      <div class="currency__details__name">
        <small>BTC</small>
        <p>Bitcoin</p>
      </div>
    </div>
    <input
      #coinInput
      class="currency__input"
      type="text"
      name="coin"
      [(ngModel)]="coinAmount"
      [value]="coin | currency: 'USD':'':'1.0-6'"
      (focus)="onFocus($event, usdInput)"
      (input)="onChange(coinInput)"
    />
  </div>
  <div class="currency bg-light-gray">
    <div class="currency__details">
      <figure class="currency-logo">
        <img
          src="https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg"
          alt="..."
        />
      </figure>
      <div class="currency__details__name">
        <small>USD</small>
        <p>United States Dollar</p>
      </div>
    </div>
    <input
      #usdInput
      name="usd"
      class="currency__input"
      type="text"
      placeholder="0"
      [(ngModel)]="usdAmount"
      [value]="usd | currency: 'USD':'':'1.0-6'"
      (focus)="onFocus($event, coinInput)"
      (input)="onChange(usdInput)"
    />
  </div>
</section>
