.nameSection {
  //grid-area: nameSection;
  //background-color: var(--background-color);
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  //flex: 0 0 50%;
  //align-items: center;
  margin-top: 5px;

  .nameHeader {
    display: flex;
    margin: 0px 0px 16px;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;

    img {
      margin-right: 12px;
    }

    h2 {
      font-size: 32px;
      line-height: 42px;
      margin-right: 8px;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: rgb(34, 37, 49);

      small {
        word-break: initial;
        background-color: var(--color-light-neutral-2);
        color: var(--color-light-neutral-6);
        border-radius: 4px;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        margin-left: 12px;
        margin-right: 6px;
      }
    }

    .header-span .header-button {
      width: auto;
      padding: 0px 8px;
      border-radius: 8px;
      -webkit-box-align: center;
      align-items: center;
      background: transparent;
      border: 1px solid rgb(207, 214, 228);
      display: inline-flex;
      color: var(--color-primary-black);
      cursor: pointer;
      -webkit-box-pack: center;
      justify-content: center;
      outline: 0px;
      font-weight: 600;
      width: auto;
      height: 32px;
      font-size: 12px;
      padding: 0px 16px;
      line-height: 18px;

      .material-icons {
        font-size: 18px;
        line-height: 100%;
        color: var(--color-light-neutral-4);

        &:hover {
          color: #f6b882;
        }
      }
    }
  }

  .namePill-box {
    display: flex;

    .namePill__3p {
      margin-right: 8px;
      background-color: var(--color-light-neutral-2);
      color: var(--color-light-neutral-6);
      border-radius: 4px;
      padding: 2px 6px;
      font-size: 11px;
      font-weight: 500;
      line-height: 18px;
      white-space: nowrap;
    }

    .namePill-rank {
      background-color: var(--color-light-neutral-5);
      color: var(--color-primary-white);
    }
  }
}

@media (min-width: 1376px) {
  .nameSection {
    flex: 0 0 36%;
  }
}

@media (min-width: 768px) {
  .nameSection {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  .nameSection {
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
  }
}
