<div class="nameSection">
    <div class="nameHeader">
      <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" height="32" width="32">
      <h2>
        {{coin.name}}
        <small>{{coin.symbol}}</small>
      </h2>
      <span class="header-span">
        <button class="header-button" style="width: auto; padding: 0px 8px;">
          &nbsp;
          <span class="icon-star"></span>
        </button>
      </span>
    </div>
    <div class="namePill-box">
      <div class="namePill__3p namePill-rank">Rank #1</div>
      <div class="namePill__3p">Coin</div>
      <div class="namePill__3p">On 834,727 watchlists</div>
    </div>
  </div>