@import "./assets/styles/variables";
@import "./assets/styles/overrides";
@import "./assets/styles/utilities";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Inter", sans-serif !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

ul {
  list-style: none;
}

strong {
  font-weight: bolder;
}
