@import './assets/styles/variables';
@import './assets/styles/overrides';
@import './assets/styles/utilities';
@import './assets/styles/libs';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 500;
    line-height: 1.5;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

ul {
    list-style: none;
}

strong {
    font-weight: bolder;
}

a {
    color: currentColor;
    text-decoration: none;
}
